.App {
  text-align: center;
}

.Parentdiv{
  height: 10px;
  width: 60%;
  background-color: #d3d3d3;
  border-radius: 20px;
  margin: 5%;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.App-logo {
  height: 100%;
  width: 100%;
  pointer-events: none;
  margin-top: 0;
}

.BigTable{
  table-layout: fixed;
  height: 100%;
  width: 100%;
  padding: 3%;
  background-color: #eeeeee;
}
.logoCell {
  width: 30%;
}

.infoCell{
  width: 70%
}
.SchoolCard{
  top:0;
  height:100%;
  margin:5%;
  margin-top:0;
  border: 1%;
  border-style: outset;
  background-color: #ffffff;
}

.BasicInfoTable{
  width: 100%;
  height: 80%;
}

